<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FsCheck" version="2.10.9" targetFramework="net47" />
  <package id="FsCheck.NUnit" version="2.10.9" targetFramework="net47" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net47" />
  <package id="HtmlElements" version="3.0.1" targetFramework="net45" />
  <package id="NUnit" version="3.10.1" targetFramework="net45" />
  <package id="RestSharp" version="106.3.0-alpha0018" targetFramework="net47" />
  <package id="Selenium.Chrome.WebDriver" version="2.37" targetFramework="net45" />
  <package id="Selenium.Firefox.WebDriver" version="0.20.0" targetFramework="net47" />
  <package id="Selenium.InternetExplorer.WebDriver" version="3.11.1" targetFramework="net47" />
  <package id="Selenium.Support" version="3.11.2" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.11.2" targetFramework="net45" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.37.0" targetFramework="net45" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net47" />
  <package id="WebDriver.GeckoDriver" version="0.19.0" targetFramework="net47" />
</packages>